@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@theme {
  /*Detalles*/
  --color-Biloba-Flower-400: #bfa7f2;

  /*Background*/
  --color-Shark-800: #262626;
  --color-Shark-700: #434343;
  /*Background highlight*/
  --color-Shark-600: #575757;
  /*Background Footer*/
  --color-Shark-900: #1a1a1a;

  /*Fuente*/
  --color-Wild-Sand-100: #f5f3f4;
  --font-DMSans: "DM Sans", sans-serif;
}